.weather-block {
    display: flex;
    position: relative;
    justify-content: space-between;
    max-width: 900px;
    height: 600px;
    margin: 100px auto 0;
    background-color: rgba(211, 211, 211, 0.8);
    border-radius: 30px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    &__header {
        display: flex;
        width: 100%;
    }
}

.weather-form {
    width: 40%;
    height: 40px;
    display: flex;
    background-color: rgba(211, 211, 211, 0);
    margin: 60px 50px 0 0;
    position: relative;
    &__input {
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid darkgray;
        outline: none;
        font-size: 25px;
        padding-left: 42px;
        &::placeholder {
            font-size: 18px;
        }
    }
    &__button {
        width: 22px;
        height: 22px;
        background: url(../../Images/iconWeather/search.svg) no-repeat;
        border: none;
        position: absolute;
        top: 8px;
        &:active {
            transform: scale(0.9);
        }
        &:focus {
            outline: none;
        }
    }
}

.weather-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 40%;
    height: auto;
    margin: 30px;
    padding-left: 30px;
    border-radius: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    &__title {
        margin: 0;
        font-size: 40px;
        font-weight: lighter;
    }
    &__currently {
        display: flex;
        align-items: center;
        font-size: 90px;
        margin: 0;
    }
    &__sun-data {
        font-weight: bold;
    }
    &__currently-icon {
        width: 130px;
        height: 130px;
        object-fit: cover;
    }

    .cloudiness {
        margin-top: -20px;
        margin-bottom: 5px;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
    }
}

.weather-card__list-data {
    width: 72%;
    font-size: 12px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;

    .weather-card__item-data {
        margin: 0 5px;
        line-height: 18px;
        position: relative;
    }
}

.weather-card__sun-wrapper {
    display: flex;
    margin-top: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);

    .sunrise::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        background: url(../../Images/iconWeather/up.svg) no-repeat;
        background-size: cover;
        top: -35px;
        left: 40%;
    }
    .sunset::before {
        background: url(../../Images/iconWeather/down.svg) no-repeat;
        background-size: cover;
        @extend .sunrise::before;
    }
}

.weather-card__sun {
    position: relative;
    margin-top: 45px;
    &:first-child {
        margin-right: 30px;
    }
}
